
.logo-style{
    width: 450px;
    /* margin-left: 100px; */
    margin-right: 100px;
    margin-top: 140px;
   }
   
   .slogan-style{
    font-size: 36px;
    /* margin-left: 100px; */
    margin-bottom: 50px;
    letter-spacing: 6px;
    color: #3E3E3E;
   }
   
   
   .Paragraph-style{
    font-size: 1.4em;
    text-shadow: rgba(255, 255, 255) 0.1em 0.1em 0.2em;
    /* margin-left: 100px; */
    line-height: 2.5em;
    letter-spacing: 3px; 
   }
   
   .box{
    height: 600px;
    overflow:hidden;
    margin-top: -300px;
   }
   
   .box img{
    width: 70%;
    height: auto;
    float: right;
   }
   
   
   
   
   
   
   
   
   
   @media screen and (max-width: 900px){
     .logo-style{
    width: 450px;
    margin-right: 100px;
    margin-top: 140px;
   }
   
   .slogan-style{
    font-size: 36px;
    margin-bottom: 50px;
    letter-spacing: 6px;
    color: #3E3E3E;
   }
   
   
   .Paragraph-style{
    font-size: 1.4em;
    text-shadow: rgba(255, 255, 255) 0.1em 0.1em 0.2em;
    line-height: 2.5em;
    letter-spacing: 3px; 
   }
   
   .box{
    height: 600px;
    overflow:hidden;
    margin-top: -300px;
   }
   
   .box img{
    width: 70%;
    height: auto;
    float: right;
   }  
   }
   